// This animates the slide-down of the home curtain.
.roll-down {
    animation-name: slide-down;
    animation-duration: 500ms;
    // Preserve the effect of the animation at ending.
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

@keyframes slide-down {

  from {
    height: 15vh;
  }
  
  to {
      height: 95vh;
  }
}

// This animates the slide-up of the home curtain.
.roll-up {
  animation-name: slide-up;
  animation-duration: 500ms;
  // Preserve the effect of the animation at ending.
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slide-up {

  from {
    height: 95vh;
  }

  to {
      height: 15vh;
  }
}
// This animates the fade-in for the tiles.
.tile-transition {
    animation-name: tile-fadein;
    animation-duration: 500ms;
    // Preserve the effect of the animation at ending.
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
     // This hides the tiles until the curtain animation is finished, and then fades them in to avoid clipping. 
    animation-delay: 500ms;
}

@keyframes tile-fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

// This animates the fade-out for the tiles.
.tile-detransition {
  animation-name: tile-fadeout;
  animation-duration: 500ms;
  // Preserve the effect of the animation at ending.
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
   // This hides the tiles until the curtain animation is finished, and then fades them in to avoid clipping. 
  animation-delay: 0ms;
}

@keyframes tile-fadeout {
  from {
      opacity: 100%;
  }
  to {
      opacity: 0%;
  }
}

// For showing and hiding different pages

.hide {
  display: none !important
}