#curtain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 15vh;
    background: $buratinoRed;
    justify-content: center;
    overflow: visible;
    position: absolute;
}

.long-button {
    position: relative;
    height: 5vh;
    width: (100vw - (414 / 32));
    align-self: center;
    background-color: $offWhite;
    box-shadow: $itemShadow;
    
}

// margin when needed
.longButtonTopmargin{
    margin-top: 7vh;
}


#long-button-text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 22px;
    @include reset-mp;
}
  @media screen and (min-width: 320px) {
    #long-button-text {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    #long-button-text {
      font-size: 22px;
    }
  } 

button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}

// Tiles using this class are left-bound on the grid.
.tile-1 {
    @include tile-properties;
    justify-self: start;
}
    @media screen and (min-width: 320px) {
        .tile-1 {
        font-size: calc(18px + 6 * ((100vw - 320px) / 680));
        }
    }
    @media screen and (min-width: 1000px) {
        .tile-1 {
        font-size: 22px;
        }
    } 

// Tiles using this class are right-bound on the grid.
.tile-2 {
    @include tile-properties;
    justify-self: end;
}
    @media screen and (min-width: 320px) {
        .tile- {
        font-size: calc(18px + 6 * ((100vw - 320px) / 680));
        }
    }
    @media screen and (min-width: 1000px) {
        #long-button-text {
        font-size: 22px;
        }
    } 

#curtain-grid {
    align-self: center;
    width: (100vw - (414 / 32));
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-content: space-evenly;
    opacity: 0%;
}

#cover-image {
    padding-top: $nonCurtainPadding;
    @include center;
    height: 75vh;
    flex-direction: column;
    gap: 5vmin;
    z-index: -20;

    img {
        max-width: 80vw;
        z-index: -20;
    }
}

.tile-icon {
    width: 75%;
}

.tile-subtitle {
    @include reset-mp;
    @include tile-name;
}

// Adds a curtain ends for that snazzy look
.curtainEdge{
    position: absolute;
    width: 100vw;
    filter: drop-shadow($curtainShadow);
    bottom: -3.5vh;
    z-index: -4;
}

// Here lies all the pages for the separate tiles. The content in the sub-pages have a padding to them, as well as a lower z-index, so they'll be covered by the main curtain.
.security, .sound, .light, .furniture, .cleaning, .breakers, .addons, .contact {
    padding-top:$nonCurtainPadding;
    z-index: -20;
    position: relative;
}

.curtain-string{
    position: absolute;
    bottom: -20vh;
    width: 16vw;
    margin-left:50 - 8vw;
    z-index: -14;
    
}

#slide-box{
    z-index: 2;
    height:36vh;
    position:fixed;
    width:100vw;
    // background-color: rgba($color: #a73d3d, $alpha: .5);
}

