/*These import the various components that make up the entire webpage.*/
#curtain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 15vh;
  background: #CB0000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
  position: absolute;
}

.long-button {
  position: relative;
  height: 5vh;
  width: 87.0625vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FFFAFA;
  -webkit-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
}

.longButtonTopmargin {
  margin-top: 7vh;
}

#long-button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  #long-button-text {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  #long-button-text {
    font-size: 22px;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.tile-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
  width: 35vmin;
  height: 35vmin;
  cursor: pointer;
  border: none;
  outline: none;
  justify-self: start;
}

@media screen and (min-width: 320px) {
  .tile-1 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .tile-1 {
    font-size: 22px;
  }
}

.tile-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
  width: 35vmin;
  height: 35vmin;
  cursor: pointer;
  border: none;
  outline: none;
  justify-self: end;
}

@media screen and (min-width: 320px) {
  .tile-2 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .tile-2 {
    font-size: 22px;
  }
}

#curtain-grid {
  -ms-grid-row-align: center;
      align-self: center;
  width: 87.0625vw;
  height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  opacity: 0%;
}

#cover-image {
  padding-top: calc(20vmax + 7vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vmin;
  z-index: -20;
}

#cover-image img {
  max-width: 80vmin;
  z-index: -20;
}

.tile-icon {
  width: 75%;
}

.tile-subtitle {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
}

@media screen and (min-width: 320px) {
  .tile-subtitle {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .tile-subtitle {
    font-size: 18px;
  }
}

.curtainEdge {
  position: absolute;
  width: 100vw;
  -webkit-filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.35));
  bottom: -3.5vh;
  z-index: -4;
}

.security, .sound, .light, .furniture, .cleaning, .breakers, .addons, .contact {
  padding-top: 20vmax;
  z-index: -20;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 5vh;
}

.security img, .sound img, .light img, .furniture img, .cleaning img, .breakers img, .addons img, .contact img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 80vw;
}

.security h5, .sound h5, .light h5, .furniture h5, .cleaning h5, .breakers h5, .addons h5, .contact h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  max-width: 87.0625vw;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .security h5, .sound h5, .light h5, .furniture h5, .cleaning h5, .breakers h5, .addons h5, .contact h5 {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .security h5, .sound h5, .light h5, .furniture h5, .cleaning h5, .breakers h5, .addons h5, .contact h5 {
    font-size: 24px;
  }
}

.security .redbox, .sound .redbox, .light .redbox, .furniture .redbox, .cleaning .redbox, .breakers .redbox, .addons .redbox, .contact .redbox {
  background-color: #CB0000;
  width: 87.0625vw;
  height: 24.0625vw;
  -webkit-filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.security .redbox h6, .sound .redbox h6, .light .redbox h6, .furniture .redbox h6, .cleaning .redbox h6, .breakers .redbox h6, .addons .redbox h6, .contact .redbox h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .security .redbox h6, .sound .redbox h6, .light .redbox h6, .furniture .redbox h6, .cleaning .redbox h6, .breakers .redbox h6, .addons .redbox h6, .contact .redbox h6 {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .security .redbox h6, .sound .redbox h6, .light .redbox h6, .furniture .redbox h6, .cleaning .redbox h6, .breakers .redbox h6, .addons .redbox h6, .contact .redbox h6 {
    font-size: 24px;
  }
}

.security .redbox-mixer, .sound .redbox-mixer, .light .redbox-mixer, .furniture .redbox-mixer, .cleaning .redbox-mixer, .breakers .redbox-mixer, .addons .redbox-mixer, .contact .redbox-mixer {
  background-color: #CB0000;
  width: 87.0625vw;
  height: 52.0625vw;
  -webkit-filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.security .redbox-mixer img, .sound .redbox-mixer img, .light .redbox-mixer img, .furniture .redbox-mixer img, .cleaning .redbox-mixer img, .breakers .redbox-mixer img, .addons .redbox-mixer img, .contact .redbox-mixer img {
  max-width: 45vw;
}

.security .redbox-mixer h6, .sound .redbox-mixer h6, .light .redbox-mixer h6, .furniture .redbox-mixer h6, .cleaning .redbox-mixer h6, .breakers .redbox-mixer h6, .addons .redbox-mixer h6, .contact .redbox-mixer h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .security .redbox-mixer h6, .sound .redbox-mixer h6, .light .redbox-mixer h6, .furniture .redbox-mixer h6, .cleaning .redbox-mixer h6, .breakers .redbox-mixer h6, .addons .redbox-mixer h6, .contact .redbox-mixer h6 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .security .redbox-mixer h6, .sound .redbox-mixer h6, .light .redbox-mixer h6, .furniture .redbox-mixer h6, .cleaning .redbox-mixer h6, .breakers .redbox-mixer h6, .addons .redbox-mixer h6, .contact .redbox-mixer h6 {
    font-size: 22px;
  }
}

.curtain-string {
  position: absolute;
  bottom: -20vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 15vmin;
  z-index: -14;
  -webkit-filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.35));
}

#slide-box {
  z-index: 2;
  height: 36vh;
  position: fixed;
  width: 100vw;
}

.overlay {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vmin;
  background-color: white;
  -webkit-filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.35));
  top: 5vh;
  padding: 1em;
}

.overlay h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 22px;
  padding-bottom: 1em;
}

.overlay p {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 22px;
}

.overlay li {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 22px;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

.bring-forward {
  z-index: 1;
}

.ovlBackground {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3 !important;
}

.wifi-ovl {
  margin-left: 6vw;
  margin-top: 30vh;
}

.wifi {
  position: absolute;
  z-index: 3;
  top: 0;
}

.xclose {
  margin-left: auto;
}

.table {
  position: absolute;
  margin-top: 60vh;
  margin-left: 70vw;
  width: 6.667vw;
  height: 15.79vw;
  background-color: gray;
}

.rotated-table {
  width: 15.79vw;
  height: 6.667vw;
}

.rotation-wrapper {
  position: relative;
  margin-top: 15vh;
  z-index: -2;
}

.rotators {
  position: relative;
  width: 35vw;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.horizontal {
  background-color: #cb0000;
  background-image: url("../img/table-horizontal.svg");
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
}

.vertical {
  background-color: #cb0000;
  background-image: url("../img/table-vertical.svg");
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
}

.vertical, .horizontal {
  -webkit-filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.35));
}

.map {
  position: relative;
  z-index: -2;
  width: 78vw;
  margin-left: auto;
  margin-right: auto;
}

.roll-down {
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes slide-down {
  from {
    height: 15vh;
  }
  to {
    height: 95vh;
  }
}

@keyframes slide-down {
  from {
    height: 15vh;
  }
  to {
    height: 95vh;
  }
}

.roll-up {
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes slide-up {
  from {
    height: 95vh;
  }
  to {
    height: 15vh;
  }
}

@keyframes slide-up {
  from {
    height: 95vh;
  }
  to {
    height: 15vh;
  }
}

.tile-transition {
  -webkit-animation-name: tile-fadein;
          animation-name: tile-fadein;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@-webkit-keyframes tile-fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes tile-fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.tile-detransition {
  -webkit-animation-name: tile-fadeout;
          animation-name: tile-fadeout;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

@-webkit-keyframes tile-fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes tile-fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.hide {
  display: none !important;
}

.selected {
  background-color: #cb0000;
}

/*This applies Helvetica font to entire webpage.*/
* {
  font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */