@charset "UTF-8";
/*These import the various components that make up the entire webpage.*/
#curtain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 90vh;
  background: #CB0000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
  position: absolute;
  top: -75vh;
  will-change: transform;
}

.long-button {
  position: relative;
  height: 5vmax;
  width: 87.0625vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FFFAFA;
  -webkit-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
}

.long-button-hidden {
  background-color: #cb0000 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*.long-button-big-text{
  @include subtitle;
  font-size: 36px !important;
  letter-spacing: 0.25rem;
  color:#FFFFFF;
  filter: drop-shadow(4px 4px 2px rgba(0,0,0, 0.35)) !important;
}
@media screen and (min-width: 320px) {
  .long-button-big-text {
    font-size: calc(36px + 4 * ((100vw - 320px) / 680)) !important;
  }
}
@media screen and (min-width: 1000px) {
  .long-button-big-text {
    font-size: 40px !important;
  }
} 
*/
.longButtonTopmargin {
  top: 39.5vh;
}

.long-button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .long-button-text {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .long-button-text {
    font-size: 22px;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

.tile-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
  width: 35vmin;
  height: 35vmin;
  cursor: pointer;
  border: none;
  outline: none;
  justify-self: start;
}

@media screen and (min-width: 320px) {
  .tile-1 {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
    width: 32vmin;
    height: 32vmin;
  }
}

@media screen and (min-width: 380px) {
  .tile-1 {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
    width: 35vmin;
    height: 35vmin;
  }
}

@media screen and (min-width: 700px) {
  .tile-1 {
    width: 25vmin;
    height: 25vmin;
  }
}

@media screen and (min-width: 1000px) {
  .tile-1 {
    font-size: 22px;
    width: 22.5vmin;
    height: 22.5vmin;
  }
}

.tile-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
  width: 35vmin;
  height: 35vmin;
  cursor: pointer;
  border: none;
  outline: none;
  justify-self: end;
}

@media screen and (min-width: 320px) {
  .tile-1 {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
    width: 32vmin;
    height: 32vmin;
  }
}

@media screen and (min-width: 380px) {
  .tile-1 {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
    width: 35vmin;
    height: 35vmin;
  }
}

@media screen and (min-width: 700px) {
  .tile-2 {
    width: 25vmin;
    height: 25vmin;
  }
}

@media screen and (min-width: 1000px) {
  .tile-2 {
    font-size: 22px;
    width: 22.5vmin;
    height: 22.5vmin;
  }
}

#curtain-grid {
  -ms-grid-row-align: center;
      align-self: center;
  width: 87.0625vw;
  height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  opacity: 0%;
}

@media screen and (min-width: 320px) {
  #curtain-grid {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 700px) {
  #curtain-grid {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    width: 74.125vw;
  }
}

@media screen and (min-width: 1000px) {
  #curtain-grid {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    width: 87.0625vw;
  }
}

#cover-image {
  padding-top: calc(20vmax + 7vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vmin;
  z-index: -20;
}

#cover-image img {
  max-width: 75vmin;
  z-index: -20;
  overflow: visible;
}

@media screen and (min-width: 1000px) {
  #cover-image img {
    max-width: 40vmin;
  }
}

@media screen and (min-width: 1025px) {
  #cover-image {
    padding-top: 20vmax;
  }
}

.tile-icon {
  width: 75%;
}

.tile-subtitle {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
}

@media screen and (min-width: 320px) {
  .tile-subtitle {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .tile-subtitle {
    font-size: 18px;
  }
}

.curtainEdge {
  position: absolute;
  width: 100vw;
  -webkit-filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.35));
  bottom: -4vmax;
  z-index: -4;
}

.start, .security, .sound, .light, .furniture, .cleaning, .breakers, .addons, .contact {
  padding-top: 20vmax;
  z-index: -20;
  position: relative;
  display: -ms-grid;
  display: grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vh;
}

.start img, .security img, .sound img, .light img, .furniture img, .cleaning img, .breakers img, .addons img, .contact img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 87.0625vmin;
  overflow: visible;
}

.start h5, .security h5, .sound h5, .light h5, .furniture h5, .cleaning h5, .breakers h5, .addons h5, .contact h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  max-width: 87.0625vmin;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .start h5, .security h5, .sound h5, .light h5, .furniture h5, .cleaning h5, .breakers h5, .addons h5, .contact h5 {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .start h5, .security h5, .sound h5, .light h5, .furniture h5, .cleaning h5, .breakers h5, .addons h5, .contact h5 {
    font-size: 24px;
  }
}

.start .redbox, .security .redbox, .sound .redbox, .light .redbox, .furniture .redbox, .cleaning .redbox, .breakers .redbox, .addons .redbox, .contact .redbox {
  background-color: #CB0000;
  width: 87.0625vmin;
  height: 24.0625vmin;
  -webkit-box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start .redbox h6, .security .redbox h6, .sound .redbox h6, .light .redbox h6, .furniture .redbox h6, .cleaning .redbox h6, .breakers .redbox h6, .addons .redbox h6, .contact .redbox h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .start .redbox h6, .security .redbox h6, .sound .redbox h6, .light .redbox h6, .furniture .redbox h6, .cleaning .redbox h6, .breakers .redbox h6, .addons .redbox h6, .contact .redbox h6 {
    font-size: calc(20px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .start .redbox h6, .security .redbox h6, .sound .redbox h6, .light .redbox h6, .furniture .redbox h6, .cleaning .redbox h6, .breakers .redbox h6, .addons .redbox h6, .contact .redbox h6 {
    font-size: 24px;
  }
}

.start .redbox-mixer, .security .redbox-mixer, .sound .redbox-mixer, .light .redbox-mixer, .furniture .redbox-mixer, .cleaning .redbox-mixer, .breakers .redbox-mixer, .addons .redbox-mixer, .contact .redbox-mixer {
  background-color: #CB0000;
  width: 87.0625vmin;
  height: 24.0625vmin;
  -webkit-box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  text-decoration: none;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 3em;
}

.start .redbox-mixer img, .security .redbox-mixer img, .sound .redbox-mixer img, .light .redbox-mixer img, .furniture .redbox-mixer img, .cleaning .redbox-mixer img, .breakers .redbox-mixer img, .addons .redbox-mixer img, .contact .redbox-mixer img {
  min-width: 0vmin;
  max-width: 20vmin;
}

@media screen and (min-width: 320px) {
  .start .redbox-mixer img, .security .redbox-mixer img, .sound .redbox-mixer img, .light .redbox-mixer img, .furniture .redbox-mixer img, .cleaning .redbox-mixer img, .breakers .redbox-mixer img, .addons .redbox-mixer img, .contact .redbox-mixer img {
    min-width: 10vmin;
    max-width: 25vmin;
  }
}

@media screen and (min-width: 1000px) {
  .start .redbox-mixer img, .security .redbox-mixer img, .sound .redbox-mixer img, .light .redbox-mixer img, .furniture .redbox-mixer img, .cleaning .redbox-mixer img, .breakers .redbox-mixer img, .addons .redbox-mixer img, .contact .redbox-mixer img {
    min-width: 20vmin;
    max-width: 45vmin;
  }
}

.start .redbox-mixer h6, .security .redbox-mixer h6, .sound .redbox-mixer h6, .light .redbox-mixer h6, .furniture .redbox-mixer h6, .cleaning .redbox-mixer h6, .breakers .redbox-mixer h6, .addons .redbox-mixer h6, .contact .redbox-mixer h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .start .redbox-mixer h6, .security .redbox-mixer h6, .sound .redbox-mixer h6, .light .redbox-mixer h6, .furniture .redbox-mixer h6, .cleaning .redbox-mixer h6, .breakers .redbox-mixer h6, .addons .redbox-mixer h6, .contact .redbox-mixer h6 {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .start .redbox-mixer h6, .security .redbox-mixer h6, .sound .redbox-mixer h6, .light .redbox-mixer h6, .furniture .redbox-mixer h6, .cleaning .redbox-mixer h6, .breakers .redbox-mixer h6, .addons .redbox-mixer h6, .contact .redbox-mixer h6 {
    font-size: 22px;
  }
}

.start-prompt {
  z-index: -2;
  position: absolute;
  bottom: 74vh;
  left: 60vw;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-animation: startFade 0s 5s forwards;
          animation: startFade 0s 5s forwards;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
          animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  opacity: 0%;
}

@-webkit-keyframes startFade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes startFade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.curtain-string {
  position: absolute;
  bottom: -25vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 15vmin;
  height: 30vh;
  z-index: -14;
  -webkit-filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.35));
}

@media screen and (min-width: 320px) {
  .curtain-string {
    width: 15vmin;
  }
}

@media screen and (min-width: 1000px) {
  .curtain-string {
    width: 10vmin;
  }
}

#slide-box {
  z-index: 2;
  height: 34vh;
  position: absolute;
  width: 100vw;
}

.overlay {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vmin;
  background-color: white;
  -webkit-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.35);
  top: 5vh;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-animation-name: tile-fadein;
          animation-name: tile-fadein;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
          animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
}

.overlay h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  padding-bottom: 1rem;
}

@media screen and (min-width: 320px) {
  .overlay h6 {
    font-size: calc(22px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .overlay h6 {
    font-size: 26px;
  }
}

.overlay p {
  margin: 0;
  padding: 0;
  padding-right: 1em;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  color: #212121;
}

@media screen and (min-width: 320px) {
  .overlay p {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .overlay p {
    font-size: 22px;
  }
}

.overlay li {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.4;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
  font-size: 18px;
  color: #212121;
}

@media screen and (min-width: 320px) {
  .overlay li {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .overlay li {
    font-size: 22px;
  }
}

.bring-forward {
  z-index: 1;
}

.ovlBackground {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 500vh;
  position: fixed;
  top: -24px;
  z-index: 3 !important;
  margin: 0;
  padding: 0;
  -webkit-animation-name: tile-fadein;
          animation-name: tile-fadein;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
          animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
}

.wifi {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xclose {
  z-index: 5;
  position: relative;
  margin-left: auto;
}

/*
.map-ovl{
  height: 87vh;
}
*/
.sqtable {
  position: absolute;
  margin-top: 125vw;
  margin-left: 47vw;
  width: 14.6666667vw;
  height: 15vw;
  background-image: url(../img/unselected-table.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  overflow: visible;
}

@media screen and (min-width: 768px) {
  .sqtable {
    margin-top: 80vw;
    margin-left: 30vw;
  }
}

.rtable {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-color: #999999;
  border-radius: 5vw;
  margin-top: 126vw;
  margin-left: 65vw;
}

@media screen and (min-width: 768px) {
  .rtable {
    margin-top: 82vw;
    margin-left: 46vw;
  }
}

.table p {
  margin-left: 1px;
  font-size: 0.6em;
}

.sqtable.rotated-table {
  width: 15vw;
  height: 14.666667vw;
  background-image: url(../img/unselected-table-rotated.svg);
  overflow: visible;
}

.map-message {
  width: 80vmin;
  position: absolute;
  z-index: 4000;
  background-color: #FFFFFF;
}

.operator-wrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-top: 10vh;
  z-index: -2;
  grid-auto-flow: column;
  width: 80vmin;
  opacity: 0.87;
}

.operator-wrapper button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rotator-caption {
  padding: 0 !important;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  font-weight: 600;
  line-height: 1.1 !important;
  font-size: 14px !important;
  color: #212121;
}

@media screen and (min-width: 320px) {
  .rotator-caption {
    font-size: calc(14px + 4 * ((100vw - 320px) / 680)) !important;
  }
}

@media screen and (min-width: 1000px) {
  .rotator-caption {
    font-size: 18px !important;
  }
}

.map {
  position: relative;
  z-index: -2;
  width: 78vw;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  max-width: 80vmin !important;
  margin-top: 2em;
}

.map-desc {
  position: absolute;
  max-width: 70vmin !important;
  top: 1.2em;
  font-size: calc(23px + 6 * ((100vw - 320px) / 680)) !important;
  text-align: left !important;
}

.table16.restricted {
  position: absolute;
  z-index: -3;
  width: 11vw;
  height: 20vw;
  top: 4.5em;
  right: 7vw;
}

@media screen and (min-width: 1024px) {
  .table16.restricted {
    left: 51vw;
    top: 8vw;
    width: 8vw;
    height: 13vw;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .table16.restricted {
    left: 67vw;
    top: 10vw;
    width: 10vw;
    height: 16vw;
  }
}

.table21.restricted {
  position: absolute;
  width: 14vw;
  height: 20vw;
  top: 85vw;
  left: 2em;
}

@media screen and (min-width: 1024px) {
  .table21.restricted {
    left: 3vw;
    top: 60vw;
    width: 11vw;
    height: 16vw;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .table21.restricted {
    left: 6vw;
    top: 74vw;
    width: 12vw;
    height: 20vw;
  }
}

.table22.restricted {
  position: absolute;
  width: 14vw;
  height: 20vw;
  top: 85vw;
  left: 67vw;
}

@media screen and (min-width: 1024px) {
  .table22.restricted {
    left: 47vw;
    top: 60vw;
    width: 11vw;
    height: 16vw;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .table22.restricted {
    left: 65vw;
    top: 74vw;
    width: 12vw;
    height: 20vw;
  }
}

.warning {
  font-style: normal;
  font-weight: bold;
  font-size: 18px !important;
  margin: 0;
  padding: 0;
  max-width: 70vmin !important;
  position: absolute;
  color: #CB0000 !important;
  top: 1.2em;
  z-index: -14;
  text-align: left !important;
}

@media screen and (min-width: 320px) {
  .warning {
    font-size: calc(20px + 4 * ((100vw - 320px) / 680)) !important;
  }
}

@media screen and (min-width: 1000px) {
  .warning {
    font-size: 22px !important;
  }
}

.yt-wrapper {
  width: 87.0625vmin;
}

.yt-player {
  position: relative;
  width: 87.0625vmin;
  height: 48.97266vmin;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
}

.yt-player iframe, .yt-player object, .yt-player embed {
  position: absolute;
  z-index: 2 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thumbnail {
  background-color: #CB0000;
  width: 87.0625vmin;
  height: 48.97266vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  z-index: -30;
  position: absolute;
}

.thumbnail img {
  width: 20vmin;
}

.thumbnail h5 {
  color: #FFFFFF;
}

¨
button:active {
  -webkit-box-shadow: inset 10px 10px 54px -17px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 54px -17px rgba(0, 0, 0, 0.75);
}

footer {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
}

.swipe-up {
  position: absolute;
  z-index: -3;
  background-color: rgba(0, 0, 0, 0);
  width: 87vw;
  height: 25vh;
  top: 67%;
  left: auto;
  right: auto;
}

.roll-down {
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
          animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
}

@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  to {
    -webkit-transform: translateY(75vh);
            transform: translateY(75vh);
  }
}

@keyframes slide-down {
  from {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  to {
    -webkit-transform: translateY(75vh);
            transform: translateY(75vh);
  }
}

.roll-up {
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
          animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(75vh);
            transform: translateY(75vh);
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(75vh);
            transform: translateY(75vh);
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

.tile-transition {
  -webkit-animation-name: tile-fadein;
          animation-name: tile-fadein;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
          animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@-webkit-keyframes tile-fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes tile-fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.tile-detransition {
  -webkit-animation-name: tile-fadeout;
          animation-name: tile-fadeout;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
          animation-timing-function: cubic-bezier(0.45, 0.1, 0.25, 1);
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

@-webkit-keyframes tile-fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes tile-fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.hide {
  display: none !important;
}

.selected {
  -webkit-filter: brightness(0) saturate(100%) invert(13%) sepia(75%) saturate(5040%) hue-rotate(356deg) brightness(88%) contrast(117%);
          filter: brightness(0) saturate(100%) invert(13%) sepia(75%) saturate(5040%) hue-rotate(356deg) brightness(88%) contrast(117%);
}

/*This applies Helvetica font to entire webpage.*/
/* {
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/
.overflow {
  overflow-y: hidden;
}

.slight-scroll {
  margin-bottom: 100vh !important;
}
/*# sourceMappingURL=main.css.map */